/* CSS */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color for the section */
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    outline: none; /* Remove the default input focus outline */
  }
  
  input[type="text"]:focus {
    border-color: #007bff; /* Highlight border color when input is focused */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  
  }
  
  button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  